// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
//************************NAVBAR TWEEKS************************
//aligns menu items to the right
.assistive-text {
  height: 1px; 
  width: 1px; 
  position: absolute; 
  overflow: hidden; 
  top: -10px;
}

#navbarNavDropdown {
  justify-content: flex-end;
}

//gets rid of round edges on child menu elements
.dropdown-menu {
	border-radius: 0;
}

//force underline on sub-menu hover
.dropdown-item:focus, .dropdown-item:hover {
	text-decoration: underline;
}

//prevent default fade to non-accessible on pages that are not the active page
.navbar-dark .navbar-nav .nav-link {
  color: $dark-gray;
}


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.alt-menu {
  margin-top: 2em;
}

.alt-logo {
  background-image: url(../imgs/alt-logo.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.alt-big-menu {
  padding-left: 2em;
}

.menu-item {
  font-size: 1.7em;
  line-height: .9em;  
  margin: .53em 0;
  padding-left: .4em;
  padding-top: .5em;
  position: relative;
}


.menu-item i {
  display: block;
  float: left;
  height: 1.9em;
  width: 60px;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  margin-right: .3em;
  font-size: 1.5em;
  margin-top: 0;
}

li.menu-item {
  font-size: 1em;
  border-bottom: 3px solid $gold;
  border-top: 3px solid $gold;  
  text-align: center;
   -webkit-transition: all .3s; /* Safari */
  transition: all .3s;
    padding: .2em;
}

.current_page_item, li.active {
  border-bottom: 3px solid $black;  
} 

li.menu-item:hover {
  border-top: 3px solid $black;  
  }

#the-menu {
  background-color: $gold;
}

#the-menu a {
   color: $black;
}

#search-box-dropdown {
  position: absolute;
  right: 0px;
  top: 70px;
}

.nav-big{
  display: none;
}

.sticky .nav-big {
  display: inline-block;
}

.sticky .nav-small {
  display: none;
}

.search-icon {
  background: transparent;
  border: none;
  font-size: 1.2em;
  -webkit-transition: all .3s; /* Safari */
  transition: all .3s;
}

.search-icon:hover {
  font-size: 1.4em;
  cursor: pointer;
}

/*from https://github.com/IanLunn/Hover/blob/master/css/hover.css*/
/* Sweep To Right */
.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(255,186,0);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: #000;
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}










//HOME PAGE
.entry-home, .home-callout {
  font-size: 5em;
  border-top: 1px dashed #000;
  border-bottom: 1px dashed #000;
  padding: .5em;
  text-align: center;
  font-weight: 400;
}

.home-description {
  font-size: 2em;
  text-align: center;
  font-weight: 300;
  padding: 0 3.5em;
}

//quote carousel 

//QUOTES
.carousel-inner {
  height: 350px;
  background-color: $white;
  //border: 1px solid $dark-gray;
}

.carousel-control-next, .carousel-control-prev {
  opacity: 1;
}

.quotes {
    border-top: 1px dashed #000;
}

.quote-nav {
  background-color: $black;
  height: 88px;
  width: 100px;
  position: absolute;
  font-size: 1.5em;
  padding-top: 25px;
}

.quote-nav.left {
  left:0;
}

.quote-nav.right {
  right:0;
}

.quote-slogan {
  position: absolute;
  display: inline-block;
  top: 30px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 1;
  width: 300px;
  text-transform: uppercase;
  background-color: $black;
  color: $white;
  text-align: center;
  padding: .2em;
}

.quote-slide {
  position: relative;
}

.quote-text {
  position: absolute;
  margin-top: 10%;
  padding: 0 14%;
  width: 100%;
}

.quote-speaker {
  margin-top: 2em;
}

.quote-school {
  font-weight: 300;
  margin-top: .5em;
}

//************************BASIC CONTENT CHOICES************************
article a {
	text-decoration: underline;
}

body, p, h1, h2, h3, h4, h5 {
	font-family: 'Roboto', sans-serif;
}

#secondary img, article img, figure, img, img.wp-post-image {
	margin-bottom: 1em;
}

p {
	background-color: $white;
	padding: 1em .4em;
}

.table {
	background-color: $white;
}

.jumbotron {
	border-radius: 0;
}

.custom-header-img {
	height: 40vw;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

//BACKGROUND
#full-width-page-wrapper {
	background-repeat: no-repeat;
	background-position: right;
	background-size: 400px 800px;
	background-attachment: fixed;
}


//FOOTER 
#wrapper-footer {
	padding-top: 5em;
	background-color: $dark-gray;	
}

.footer-widget{
	background-color: $dark-gray;
	padding-top: 3em;
	color: $white;
	line-height: 1em;
}

.widgetizedArea p {
	background-color: $dark-gray;
	color: $white;
	padding: .2em 0;
	margin: 0;
}

.widgetizedArea h3 {
	color: $gold;
	font-size: 1.2em;
}

//JUST BLOCKQUOTE
//from https://codepen.io/iPawan/pen/emrPKP
blockquote{
  display:block;
  background: #fff;
  padding: 15px 20px 15px 45px;
  margin: 0 0 20px;
  position: relative;
  
  /*Font*/
  font-size: 1.2em;
  line-height: 1.2;
  color: #666;


  /*Borders - (Optional)*/
  border-left-style: solid;
  border-left-width: 15px;
  border-right-style: solid;
  border-right-width: 2px;    
}

blockquote::before{
  content: "\201C"; /*Unicode for Left Double Quote*/
  
  /*Font*/
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #999;
  
  /*Positioning*/
  position: absolute;
  left: 10px;
  top:5px; 
}

blockquote::after{
  /*Reset to make sure*/
  content: "";
}

blockquote a{
  text-decoration: none;
  background: #eee;
  cursor: pointer;
  padding: 0 3px;
  color: #c76c0c;
}

blockquote a:hover{
 color: #666;
}

blockquote em{
  font-style: italic;
}

  /*Default Color Palette*/
blockquote.default{ 
  border-left-color: #656d77;
  border-right-color: #434a53;  
}


//BOOTSTRAP BREAKOUT

.break-out{
  width: 100vw;
  position: relative;
  left: calc(-1 * (100vw - 100%) / 2);
  color: rgba(0,0,0,.6);
  display: block;
}

.flexy {
  display: flex;
  justify-content: space-between;
}


@media only screen and (max-width: 1199px) {
  .alt-center {
    height: 330px;
  }
}

@media only screen and (max-width: 700px) {
 .alt-center {
    height: 230px;
  }

  #lab {
    color: #ffb300;
    font-size: 5.5em;
    font-weight: bold;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    display: inline-block;
    position: absolute;
    top: 0.49em;
    left: 2.7em;
  }

  #alt-full-text {
    font-weight: 200;
    font-size: 1.5em;
  }

  .alt-left .menu-item {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    margin: 0;
    width: 100%;
    display: block;
  }

  .alt-right .menu-item {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    margin: 10px;
    width: 100%;
    display: block;
  }
  .menu-holder {
    padding: 10px;
    margin: 0;
  }
  .alt-left .menu-holder {
  display: block;
  height: auto;
}
  .alt-right .menu-holder {
  display: block;
  }
  #alt-full-text {
    font-size: 1em;
  }
}