    // This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
//************************NAVBAR TWEEKS************************
//aligns menu items to the right
html {
    -webkit-font-smoothing: antialiased;
}

p {
    color: #4b4f54;
    font-size: 1em;
    line-height: 1.8em;
    padding-bottom: 10px;
    padding-left: 0;
}

.skip-link {
    color: $black;
}

.assistive-text {
    height: 1px;
    width: 1px;
    position: absolute;
    overflow: hidden;
    top: -10px;
}

#navbarNavDropdown {
    justify-content: flex-end;
}

//gets rid of round edges on child menu elements
.dropdown-menu {
    border-radius: 0;
}

.dropdown-menu li.menu-item {
    padding: 0
}

.dropdown-menu li.menu-item:hover {
    border-top: 3px solid $gold;
}

ul.dropdown-menu.show{
    padding: 12px 0;
    text-align: left;
    background-color: #fff;
}

.dropdown-item:focus, .dropdown-item:hover {
    background-color: $gold;
}

.nav-item.show {
    background-color: #fff;
}

.navbar-expand-md .navbar-nav .dropdown-menu {
    min-width: 200px;
}

//force underline on sub-menu hover
.dropdown-item:focus,
.dropdown-item:hover {
    text-decoration: underline;
}

//prevent default fade to non-accessible on pages that are not the active page
.navbar-dark .navbar-nav .nav-link {
    color: $dark-gray;
}


.sticky #the-menu {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.06);
}


.alt-menu {
    margin-top: 4em;
}

.alt-logo-background {
    background-image: url(../imgs/15488907109_1ecafba339_k.jpg);
    background-attachment: fixed;
    background-size: contain;
    background-position: left;
}

.alt-logo {
    background-color: white;
    mix-blend-mode: screen;
    display: table-cell;
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: contain;
}

.alt-big-menu {
    padding-left: 2em;
}

.menu-item {
    font-size: 1.5em;
    line-height: .9em;
    margin-top: .5em;
    padding-left: .4em;
    padding-top: .5em;
    position: relative;
}

.menu-item a {
    color: $black;
    width: 100%;
    height: 100%;
    display: block;
}

.menu-item i {
    display: block;
    float: left;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    margin-right: .3em;
    font-size: 1.5em;
    margin-top: -8px;
}

li.menu-item {
    font-size: 1em;
    border-bottom: 3px solid transparent;
    border-top: 3px solid transparent;
    text-align: center;
    -webkit-transition: all .3s;
    /* Safari */
    transition: all .3s;
    padding: .2em;
}

.current_page_item,
li.active {
    border-bottom: 3px solid $black;
}

li.menu-item:hover {
    border-top: 3px solid $black;
}

#the-menu {
    background-color: $gold;
}

#the-menu a {
    color: $black;
    text-transform: uppercase;
    font-weight: 700;
}

#search-box-dropdown {
    position: relative;
    left: 0;
    top: 0;
    border-top: none;
    background-color: transparent;
}

#search-box-dropdown.show {
    padding: 0 0 0 10px;   
}

// .nav-big {
//     display: none;
// }

.sticky .nav-big {
    display: inline-block;
}

.sticky .nav-small {
    display: none;
}

.search-icon,
.mail-icon {
    background: transparent;
    border: none;
    font-size: 1.2em;
    -webkit-transition: all .3s;
    /* Safari */
    transition: all .3s;
    cursor: pointer;
}

.search-icon:hover,
.mail-icon:hover {
    font-size: 1.4em;
    cursor: pointer;
}

#header-mail, #header-search {
    height: 25px;    
    margin-bottom: -6px;
    display: inline-block;
}

#contactModal {
    background: rgba(0, 0, 0, .5);
    margin-top: 70px;
}

.modal-dialog {
    max-width: 800px;
    border-radius: 0;
}

.modal-content {
    padding: 40px;
    border-radius: 0;
}

#gform_1 #gform_fields_1>li {
    margin-bottom: 40px;
}

#gform_1 #input_1_2 {
    margin-left: 30px;
    display: block;
}

.gfield_required {
    display: none;
}

#gform_1 ul>li,#gform_1 .gfield_label {
    font-size: 1.3em;
    font-weight: 400;
}

/*********************************
ARROWS THAT TRACK CURSOR
*********************************/
  
  .arrow {
    width:45px;
    height:45px;
    display:inline-block;
    background-image: url('../imgs/arrow.svg');
    background-position: center;
    background-repeat: no-repeat;
    margin: 1.5em;
  }
  
  #wrappery {
    width:100%;
    height: 500px;
    margin-bottom: 5px;
  }

//modal people 
#the-person {
    display: block;
    width: 100%;   
}

.molly-ransone {
   // background-image: url(../imgs/molly.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;   
    height: 100px;
}

.moaz-elemam {
   // background-image: url(../imgs/moaz.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;   
    height: 100px;
   // background-color: orange;
}

.sean-bullock {
    //background-image: url(../imgs/sean.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;   
    height: 100px;
   // background-color: green;
}


/*from https://github.com/IanLunn/Hover/blob/master/css/hover.css*/


/* Sweep To Right */

.hvr-sweep-to-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.hvr-sweep-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(255, 186, 0);
    -webkit-transform: skew(0) scaleX(0);
    transform: skew(0) scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-sweep-to-right:hover,
.hvr-sweep-to-right:focus,
.hvr-sweep-to-right:active {
    color: #000;
}

.hvr-sweep-to-right:hover:before,
.hvr-sweep-to-right:focus:before,
.hvr-sweep-to-right:active:before {
    -webkit-transform: skew(-15deg) scaleX(1);
    transform: skew(-15deg) scaleX(1);
}




//HOME PAGE
.entry-home {
    font-size: 4em;
    // border-top: 1px dashed #000;
    border-bottom: 1px dashed #000;
    padding: .5em;
    text-align: center;
    font-weight: 400;
}

.entry-home.interested::before, .entry-home.about::before {
    content: '';
    background-color: #ffb300;
    width: 15px;
    height: 65px;
    display: inline-block;
    margin-bottom: -8px;
    margin-right: 20px;
    -webkit-transform: skew(-15deg);
    transform: skew(-15deg);
}

.home-callout {
    font-size: 3.5em;
    line-height: 1.2em;
    text-align: center;
    font-weight: 400;
    margin-bottom: 20px;
}


.home-description {
    font-size: 2em;
    text-align: center;
    font-weight: 300;
    padding: 0 3.5em;
}


//quote carousel 
//QUOTES
.carousel-inner {
    height: 350px;
    background-color: $white; //border: 1px solid $dark-gray;
}

.carousel-control-next,
.carousel-control-prev {
    opacity: 1;
}

.quotes {
    border-top: 1px dashed #000;
    border-bottom: 1px dashed #000;
    margin-top: 100px;
}

.quote-nav {
    background-color: $black;
    height: 88px;
    width: 100px;
    position: absolute;
    font-size: 1.5em;
    padding-top: 25px;
}

.quote-nav.left {
    left: 0;
}

.quote-nav.right {
    right: 0;
}

.quote-slogan {
    position: absolute;
    display: inline-block;
    top: 30px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    z-index: 1;
    width: 300px;
    text-transform: uppercase;
    background-color: $black;
    color: $white;
    text-align: center;
    padding: .2em;
}

.quote-slide {
    position: relative;
}

.quote-text {
    position: absolute;
    margin-top: 10%;
    padding: 0 14%;
    width: 100%;
}

.quote-speaker {
    margin-top: 2em;
}

.quote-school {
    font-weight: 300;
    margin-top: .5em;
}

//home topics

#topic-parent {
    background-color: $gold;
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
    padding: 30px 0;
}

#topic-parent .container {
    height: auto;
    padding-bottom: 60px;
}

.topic-slide {
    height: 120px;
    border: 1px solid $dark-gray;
    margin-top: -1px;
    text-align: center;
    padding: 1.5em;
    background-color: $white;
}

.row>.topic-slide+.topic-slide {
    border-left: 0;
}

.topic-link {
    background: transparent;
    border: none;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 2.5em;
    border: 1px solid $dark-gray;
    border-radius: 0;
}

.topic-link[aria-expanded="true"] {
    margin: -10px;
    background: #fff;
    border-radius: 0;
    border: 2px solid $dark-gray;
}

.topic-wrapper {
    width: 100%;
}

.topic-wrapper .accordion, .topic-description{
            background-color: #d1f0f2;
        }
        
.topic-description {
    background-color: #d1f0f2;
    }

.topic-link:hover {
    background-color: $light-gray;
    color: $black;
    border-radius: 0;
}

.topic-highlight {
    background-color: #D1F0F2;
    border-radius: 0;
    border-left: 1px solid #D1F0F2;
    border-bottom: 1px solid #D1F0F2;
    border-right: 1px solid $dark-gray;
    border-top: none;
}

.col-md-4.topic-slide.topic-highlight {
    border-right: none;
}

#arrow-holder {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    width:100%;
    height: 100%; 
    flex-wrap: wrap;
    top: 0;
    left: 0;
}

.show {
    background-color: #D1F0F2;
    padding: 25px 35px;
    display: block;
    transition: all .1s ease-in;
    max-width: -webkit-calc(100% - 1px);
    max-width: -moz-calc(100% - 1px);
    max-width: calc(100% - 1px);
}

.topic-description {
    display: inline-block;
    width: 80%;
}

.show i {
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
}

.btn-alt, .gform_button  {
    padding: 20px;
    background-color: $dark-gray;
    color: $white;
    min-width: 260px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 0;
}


#gform_submit_button_3 {    
    display: block;
    margin: 0 auto;
}


.btn-alt:hover {
    color: $gold;
}

//HOW DOES THIS WORK 
.interested {
    margin-top: 40px;
}
.timeline-body {
    font-family: Roboto, sans-serif;
    margin: 0 0 30px 0;
    padding: 30px 0 30px 0;
    margin-top: -8px;
    background-color: #00B3BE;
    // background-image: linear-gradient(141deg, #00B3BE 0%, #1fc8db 51%, #0eb1c0 75%);
    background-image: linear-gradient(110deg, #0eb1c0 42.86%, #49c7c3 42.86%, #49c7c3 50%, #0eb1c0 50%, #0eb1c0 92.86%, #49c7c3 92.86%, #49c7c3 100%);
    background-size: 7.00px 19.23px;
    opacity: 1;
    box-sizing: border-box;
}


.connect-with-us .mail {
       display: inline-block;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 8px solid #ffb300;
    position: absolute;
    left: -60px;
    top: -2px;
    background-color: #fff;
}

h2.connect-with-us a {
    color: #000;
}


* {
    box-sizing: border-box;
}

.timeline-header {
    background: #fff;
    text-align: center;
    padding: 40px 0;
}






/* Border under the headline */

.border-line {
    border-bottom: 1px dashed;
    margin-left: 20%;
    margin-right: 20%;
}

.timeline-icon {
    float: left;
    margin: 0 10px 0 0;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.box-content {
    float: left;
    width: 70%;
    margin: 0 0 0 10px;
}

.box-content p {
    font-size: 1.2em;
    font-weight: 500;
    padding-top: 0;
    line-height: 1.6em;
}





/* This is the last centered box */

.box-ender {
    text-align: center;
    margin: auto 35%;
    position: relative;
    padding: 20px 20px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .29);
}

.box-ender h2 {
    font-weight: 500;
    font-size: 2.5em;
}

/* The actual timeline (the vertical ruler) */

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 20px auto;
}


/* The actual timeline (the vertical ruler) */

.timeline::after {
    content: '';
    position: absolute;
    width: 8px;
    background-color: #fff;
    top: 20px;
    bottom: -20px;
    left: 50%;
    margin-left: -3px;
    box-sizing: content-box;
}


/* Container around content */

.timeline-container {
    text-align: left;
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}


/* The circles on the timeline */

.timeline-container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -21px;
    background-color: white;
    border: 8px solid #FFB300;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
    box-sizing: content-box;
}


/* Place the container to the left */

.left {
    left: 0;
}


/* Place the container to the right */

.right {
    left: 50%;
}


/* Add arrows to the left container (pointing right) */

.timeline-container.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid #fff;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #fff;
}


/* Add arrows to the right container (pointing left) */

.timeline-container.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid #fff;
    border-width: 10px 10px 10px 0;
    border-color: transparent #fff transparent transparent;
}


/* Fix the circle for containers on the right side */

.right::after {
    left: -20px;
}


/* The actual content */

.timeline-content {
    padding: 20px 20px;
    background-color: #fff;
    position: relative;
    border-radius: 6px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .29);
}

//image row

.image-row {
    margin-top: 70px;
}


//about us portion

.about-us-row {
    padding-top: 70px;
}

.about-us {
    padding-top: 50px;
    padding-bottom: 80px;
    position: relative;   
}

.about-us-description p {
    font-size: 2em;
    font-weight: 300;
    padding-top: 0;
    line-height: 1.4em;
}

.about-us::after {
  content: "";
  background-image: url(../imgs/altlab_hexpattern_gray.png);
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.about-us-img {
    outline: 2px solid $gold;
    outline-offset: -15px;
}

//workshop 

.workshop-template-default .entry-title{
    font-weight: 800;
    margin-top: 20px;
    font-size: 3em;
}

.workshop-template-default h2 {
    border-bottom: 1px dashed #000;
    position: relative;
}

.workshop-template-default h2::before, .event-acf-meta h2::before, {
    content: '';
    background-color: $gold;
    width: 10px;
    height: 35px;
    display: inline-block;
    margin-bottom: -6px;
    margin-right: 20px;
    -ms-transform: skew(-15deg); /* IE 9 */
    -webkit-transform:  skew(-15deg); /* Safari */
    transform:  skew(-15deg);
}

.workshop-details {
    margin-top: 50px;
}

.workshop-description {
    padding-right: 20px;
}

.workshop-request {
    display: block;
    margin: 30px auto;
}

.vcu-examples a:hover, .outside-examples a:hover {
    color: $dark-gray;
    text-decoration-color: $aqua;
}

//workshop facet

.facet-workshop {
    border-bottom: 1px solid $aqua;
}

.facet-workshop .show {
    width: 100%;
}

.facet-workshop a h2 {
    color: $black;
    font-size: 1.5em;
    padding: 10px;
    margin-bottom: 10px;
    -webkit-transition: all .3s; /* Safari */
    transition: all .3s;
    display: inline-block;
    margin-top: 10px;
}

.facet-workshop a h2:hover {
    background-color: $light-gray;
}

.facet-holder .btn-alp {
    display: block;
    margin: 30px 0;
}

.workshop-learn-more {
    color: $dark-gray;
}

.btn-workshop {
    padding-top: 25px;
}

//workshop modal
#workshopModal #input_3_6 li {
    margin: 10px 0;
}

#workshopModal #input_3_6 li:hover {
    background-color: $light-gray;
} 

#workshopModal #input_3_6 input[type='checkbox'] {      
    white-space: nowrap;
    overflow:hidden;
    width:20px !important;
    height:20px !important;
}

//faculty bio things
.faculty-page {
    position: relative;
}

.faculty-group {
    font-size: 3em;
    font-weight: 600;
    margin-top: 70px;
}

.leadership,
.media {
    padding: 50px 0;
}

.design,
.rd {
    background: #efefef;
    padding: 50px 0;
}

.faculty {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .29);
    border: none;
    margin: 2em;
    border-radius: 0;
}


.bio-img.float-left {
    margin-right: 1em;
}

.card-body {
    position: relative;
    padding: 2.2rem;
}


.bio-img.float-right {
    margin-left: 1em;
}


.faculty-name {
    font-weight: 600;
}

.faculty-title {
    font-weight: 300;
    color: $dark-gray;
    margin-bottom: 20px;
    font-size: 1.3em;
}

.faculty-bio-text {
    color: $dark-gray;
    font-size: 1em;
    line-height: 1.8em;
}

.type-faculty {
    padding: 25px;
}

//page navigation 

.nav-next a, .nav-previous a {
    color: $dark-gray;
    border: 2px solid $aqua;
    padding: 10px 8px;
    text-align: center;
    margin: 10px 0;
    display: block;
    width: 350px;
    height: 70px;
}

//************************BASIC CONTENT CHOICES************************
article a, p a {
    text-decoration: underline;
    color: $black;
}



body,
p,
h1,
h2,
h3,
h4,
h5 {
    font-family: 'Roboto', sans-serif;
}


#secondary img,
article img,
figure,
img,
img.wp-post-image {
    margin-bottom: 1em;
}

.table {
    background-color: $white;
}

.jumbotron {
    border-radius: 0;
}

.custom-header-img {
    height: 40vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

//BACKGROUND
#full-width-page-wrapper {
    background-repeat: no-repeat;
    background-position: right;
    background-size: 400px 800px;
    background-attachment: fixed;
    margin-bottom: -40px;
}




//FOOTER 
#wrapper-footer {
    padding-top: 5em;
    background-color: $dark-gray;
}

.footer-widget {
    background-color: $dark-gray;
    padding-top: 3em;
    color: $white;
    line-height: 1em;
}

.widgetizedArea p {
    background-color: $dark-gray;
    color: $white;
    padding: .2em 0;
    margin: 0;
}

.widgetizedArea h3 {
    color: $gold;
    font-size: 1.2em;
}

.footer-address div, .footer-required div {
    margin-bottom: 10px;
    line-height: 1.2em;
}

.footer-address a, .footer-required a {
    color: $white;
    text-decoration: underline;
}

//SERVICES PAGE
.services-logo {
    max-width: 230px;
    margin: auto;
    display: block;
}

.services-services {
    font-family: Roboto, 'sans-serif';
    font-size: 48px;
    color: #292B2C;
    letter-spacing: 0.75px;
    text-align: center;
}

.service-page p, .service-page ul {
    font-size: 1.3em;
    color: #4b4f54;    
}

.service-page li {
    margin-bottom: 10px;
}

.entry-title-service {
    font-family: Roboto, 'sans-serif';
    font-size: 48px;
    color: #292B2C;
    letter-spacing: 0.75px;
    background-image: linear-gradient(to right, black 33%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 6px 1px;
    background-repeat: repeat-x;
    margin-top: -10px;
}

.team-holder {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.team-header {
  padding-top: 30px;
}

.team-member,
.team-member img {
    display: inline-block;    
    position: relative;  
    width: 150px; 
}

.team-member img:hover {
    background: red; // make this real at some point
}

.team-member .icon {
    position: absolute;
    right: 0;
    bottom: 0;
}

.faculty-service-info {
    display: none;
}

.team-member:hover .faculty-service-info {
    display: block;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-weight: 500;
    color: #fff;
    background-color: rgba(0,0,0, .4);
    font-size: 20px;
    padding: 30% 10px;
}


.service-separator {
    width: 100%;
    height: 20px;
    display: block;
    background: repeating-linear-gradient(180deg,#DCDCDC,#DCDCDC 1px,#fff 1px,#fff 5px);
    margin: 30px 0;
}

.service-callout-two { 
  min-height: 500px;
}

.service-callout-two p {
  padding-left: 0;
}

.img-right {
  float: right;
  object-fit: cover;
  height: 500px;
  width: 50%;
  position: absolute;
  right: 0;
  z-index: -1;
}

.service-page .yellow {
     background: linear-gradient(90deg, $gold 25%, $white 25%);
}

.related h2 {
  margin-left: 20px;
}

.service-icon {
  display: inline-block;
  height: 80px;
  width: 65px;
  margin-left: 20px;
}

.service-icon h3 {
  display: inline-block;
  font-family: Roboto, 'sans-serif';
  font-size: 16px;
  color: #292B2C;
  letter-spacing: 0.25px;
  text-align: center;
  line-height: 23px;
  position: relative;
}

.icon-projects {
  display: block;
  width: 50px;
  height: 50px;
  background-image: url(../imgs/icon-projects.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.icon-events {
  display: block;
  width: 50px;
  height: 50px;
  background-image: url(../imgs/icon-events.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}


.yellow {
  background: $gold;
}

.white {
  background: $white;
}


.special-media {
    position: absolute;
    right:0;
    z-index: -200;
    width: 50%;
}

.extra-info .white {
    padding: 10px 0;
}

//video 


.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

//JUST BLOCKQUOTE
//from https://codepen.io/iPawan/pen/emrPKP
blockquote {
    display: block;
    background: #fff;
    padding: 15px 20px 15px 45px;
    margin: 0 0 20px;
    position: relative;

    /*Font*/
    font-size: 1.2em;
    line-height: 1.2;
    color: #666;


    /*Borders - (Optional)*/
    border-left-style: solid;
    border-left-width: 15px;
    border-right-style: solid;
    border-right-width: 2px;
}

blockquote::before {
    content: "\201C";
    /*Unicode for Left Double Quote*/
    /*Font*/
    font-family: Georgia, serif;
    font-size: 60px;
    font-weight: bold;
    color: #999;

    /*Positioning*/
    position: absolute;
    left: 10px;
    top: 5px;
}

blockquote::after {
    /*Reset to make sure*/
    content: "";
}

blockquote a {
    text-decoration: none;
    background: #eee;
    cursor: pointer;
    padding: 0 3px;
    color: #c76c0c;
}

blockquote a:hover {
    color: #666;
}

blockquote em {
    font-style: italic;
}


/*Default Color Palette*/

blockquote.default {
    border-left-color: #656d77;
    border-right-color: #434a53;
}

.mobile-logo {
    display: none;
}

//BOOTSTRAP BREAKOUT
.break-out {
    width: 100vw;
    position: relative;
    left: calc(-1 * (100vw - 100%) / 2);
    color: rgba(0, 0, 0, .6);
    display: block;
}

.flexy {
    display: flex;
    justify-content: space-between;
}

//icons

.icon {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: inline-block;
    width: 30px;
    height: 30px;
} 

.mail {
    background-image: url(../imgs/icon-mail.svg);
}

#header-search {
    background-image: url(../imgs/icon-search.svg);
}

//modal 
.close {
    margin-right: 0;
    margin-left: 80%;
}
#contactModal .close-x {
    color: $black;
    margin-left: 15px;
    margin-right: 10px;   
}

.modal-body .gform_wrapper .gform_body {
    width: 400px;
    margin: auto;
}

.modal-dialog {
    max-width: 60%;
}

.modal-header {
    border-bottom: none;
}

.modal-title {
    display: block;
    margin: 0 auto;
    font-size: 44px;
    font-weight: 400;
    font-family: 'Sentinel-Semibold', sans-serif;
}

.modal-message {
    padding: 0 45px;
    text-align: center;
}

.modal-message p {
    font-size: 24px;
    line-height: 34px;
}

.modal-required {
    font-size: 16px;
    font-style: italic;
}

#gform_wrapper_2 {
    width: 80%;
    margin: 0 auto;
}

#contactModal .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
    width: 100%;
}

#contactModal .gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield div.ginput_complex span.ginput_left select,
.gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield div.ginput_complex span.ginput_right select,
.gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield input[type=radio],
.gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield select {
    width: 100%;
}

#gform_submit_button_1 {
    margin-top: 30px;
}


//single events 

.event-acf-meta {
    margin-top: 50px;
    border-top: 1px solid $light-gray;
    padding-top: 30px;
    padding-bottom: 30px;
}

.event-acf-meta li {
    margin-top: 10px;
}

.single-tribe_events .tribe-events-event-meta {
    padding: 8px;
}


@media only screen and (max-width: 1199px) {
    .alt-center {
        height: 330px;
    }
    .box-content {
        width: 95%;
        float: none;
    }
    .timeline-icon {
        float: left;
        padding: 0 10px 0 0;
    }
}

@media only screen and (max-width: 414px) {
        .service-thumb .col-md-6 {
            background-color: #fff;
        }    
    
        .mobile-logo {
            display: block;
            margin: 0 auto;
            width: 100px;
            height: auto;
        }

        .row {
            margin-right: 0;
            margin-left: 0;
        }

        .navbar-toggler-icon {
            background-image: url(../imgs/icon-menu.svg);
        }

        .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
            background-image: url(../imgs/icon-x.svg);
        }

        #search-box-dropdown.show {
            padding: 0;   
        }
        
        #the-menu a {
            margin: 0;
            display: block;
        }

        #the-menu a.nav-big {
            display: none;
        }

        // .alt-logo {
        //     display: none;
        // }

        .alt-big-menu {
            padding-left: 0;
            padding-right: 0;
            margin-top: -1em;
        }

        .alt-menu {
            margin-top: 1em;
        }

        .menu-item {
            font-size: 1em;
            text-align: center;
            line-height: 1.2em;
            margin: .53em 0;
            padding-left: 0;
            padding-right: 0;
            padding-top: 0;
        }

        .menu-item i {
            float: none;
            display: block;
            margin: 0 auto;
        }

        .home-callout, .entry-home {
            font-size: 2em;
        }

        .entry-home.interested::before, .entry-home.about::before {
            margin-bottom: -5px;
            margin-right: 10px;
            width: 10px;
            height: 35px;
        }

        .home-description {
            font-size: 1.2em;
            padding: 0;
        }

        .about-us-description p {
            font-size: 1.2em;
        }

        .workshop-description {
            column-count: 1;
        }

        .big-title {
            font-size: 2em;
        }

        #topic-parent {
            padding-top: 40px;
            padding-bottom: 40px;
        }

        // #topic-parent .container {
        //     height: 300px;
        // }

        .interested {
            margin-top: 15px;
        }

        .topic-link h3 {
            font-size: 1.4em;
        }

        .show {
            padding: 10px;
        }

        .topic-wrapper .accordion, .topic-description{
            background-color: #d1f0f2;
        }

        .topic-description {
            background-color: #d1f0f2;
        }

        .carousel-inner {
            height: 550px;
        }

        .quote-text {
            margin-top: 100px;
            text-align: center;
        }

        .quote-text h3 {
            font-size: 1.5em;
        }

        .quote-nav {
            bottom: 0;
            width: 100%;
        }

        /* Place the timelime to the left */
        .timeline::after {
            left: 31px;
        }

        /* Full-width containers */
        .timeline-container {
            width: 100%;
            padding-left: 70px;
            padding-right: 25px;
        }

        /* Make sure that all arrows are pointing leftwards */
        .timeline-container::before {
            display: none;            
        }

        .box-content {
            width: 100%;
            float: none;
            padding: 0;
        }

        .box-content p {
            font-size: 1em;
        }

        .box-content h2 {
            font-size: 1.5em;
        }

        .box-ender {
            margin: -10px 25px;
        }

        .clearfix::after {
            content: "";
            clear: both;
            display: table;
        }

        /* Make sure all circles are at the same spot */
        .left::after,
        .right::after {
            left: 12px;
        }

        /* Make all right containers behave like the left ones */
        .right {
            left: 0%;
        }

        .img-right {
          object-fit: cover;
          height: 500px;
          width: 100%;
          position: absolute;
          right: 0;
          z-index: -1;
        }
        
        //services 
        .entry-title-service {
            margin-top: 20px;
            font-size: 40px;
        }

        .special-media {
            position: relative;
            width: 100%;
        }
        
        //modal
        .modal-dialog {
            max-width: 100% !important;
            margin: 0 auto;
            overflow: hidden;
            background: red;
        }
        #closer {
            font-size: 1em;
        }
        .modal-message, .modal-bottom {
            padding: 0 20px;
        }
        .modal-body .gform_wrapper .gform_body {
            width: auto;
        }

        .gform_wrapper input.large, .gform_wrapper input.medium, .gform_wrapper input.small, .gform_wrapper select.large, .gform_wrapper select.medium, .gform_wrapper select.small {
            max-width: 95%;
        }

        

    }